/* TOTAL PAGE STYLING */

/* BACKGROUND IMAGE */
 body{
    background-image: url('../images/background.jpg');
    height: 100%;
    width: 100%;
    margin-top: 0;
    background-position: center;
    background-repeat: no-repeat;
}

/* side text */
/* .side-text{
   writing-mode:vertical-rl; 
   text-orientation: upright;
} */

/* HEADER */


.top-header, h1{
    color:rgb(217, 154, 217);
    font-family: 'La Belle Aurore', cursive;
    text-align: center;
    font-size: 100px;
}

/* NAV BAR */
.topnav{
    background-color: transparent;
    overflow: hidden;
}

.topnav {
    text-align: center;
    font-size: 75px ;
    margin-top:-80px;
    margin-bottom: 75px;
    font-family: 'Amatic SC', cursive;
}

.topnav a{
    color:#EA8C55;
    text-decoration: none;

}

.topnav a:hover{
    color: rgb(53, 116, 192);
}

/* ABOUT ME CONTAINER CONATINER */


/* ABOUT ME IMAGE AVATAR */
img{
    float: left;
    margin: 8px 0 0 20px;
    padding: 4px;
    width: 250px;
    height: 350px;
}



/* ACTUAL CONTAINERS FOR ABOUT ME CONTAINER AND WORK CONTAINER */
.about-me-container, .work-container{
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    line-height: 40px;
    padding:30px;
    justify-content:center;
    background-color: white;
    width: 700px;
    margin:-30px 345px 75px; 
    opacity: 80%;
}

/* ABOUT ME TEXT */
.about-me-container, p, h2{
    font-family: 'Acme', sans-serif;

}


/* WORK SECTION */


/* MAIN PROJECT CARD */
#main-project{
    width:700px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin:20px;

}

/* MAIN PROJECT IMAGE */
#main-project img{
    border-width: 1px;
    padding: 20px;
    width: 87%;
    opacity: 80%;
}

/* HOVER OVER IMAGE TO BRING BACK OPACITY */
#main-project a img:hover{
    opacity: 1;
}

/* TEXT INSIDE THE MAIN PROJECT CARD */
#main-project h2{
    font-size:50px;
    text-align: center;
    color:rgb(217, 154, 217);
    font-family: 'La Belle Aurore', cursive;
}

#main-project p{
    text-align: center;
    font-size:20px;
    /* line-height: 40px; */
}

/* WORK CARDS*/
.work-card{
    border-style:solid;
    border-width: 1px;
    padding:10px;
    margin:20px;
    opacity: 80%;
}

/* WORK CARD IMAGES */
.work-card img{
    opacity: 80%;
    padding: 5px 20px 10px 5px;
    width:200px;
    height:200px;
}

/* HOVER OVER IMAGE TO BRING BACK OPACITY */
.work-card a img:hover{
    opacity: 1;
}

/* WORK CARD TEXT */
.work-card h2{
    font-size:25px;
    text-align: center;
    color:rgb(217, 154, 217);
    font-family: 'La Belle Aurore', cursive;
}

.work-card p{
    /* margin-top: 20px; */
    text-align: center;
    font-size:20px;
}

/* CONTACT/FOOTER CONTAINER*/
.contact-container{
    background-color: transparent;
    overflow: hidden;
}


.contact-container{
    text-align: center;
    font-size: 75px ;
    font-weight: bold;
    margin-top:-80px;
    margin-bottom: 75px;
    font-family: 'Amatic SC', cursive;
}

/* CONTACT TEXT */
.contact-container a{
color:rgb(53, 116, 192); 
text-decoration: none;

}

/* HOVER OVER LINK */
.contact-container a:hover{
    color: #EA8C55; 
}
/* MEDIA QUERY */