/* TOTAL PAGE STYLING */
/* body,html{
   height: 100%;
   width: 100%;
   margin-bottom: 0;
} */


 body{
    background-image: url('../images/background.jpg');
    height: 100%;
    width: 100%;
    margin-top: 0;
    background-position: center;
    background-repeat: no-repeat;
}

/* HEADER */


.top-header, h1{
    color:rgb(217, 154, 217);
    font-family: 'La Belle Aurore', cursive;
    text-align: center;
    font-size: 100px;
}

/* NAV BAR */
.topnav{
    background-color: transparent;
    overflow: hidden;
}

.topnav {
    text-align: center;
    font-size: 75px ;
    margin-top:-80px;
    margin-bottom: 75px;
    font-family: 'Amatic SC', cursive;
}

.topnav a{
    color:#EA8C55;
    text-decoration: none;

}

.topnav a:hover{
    color: rgb(124, 161, 206);
}

/* ABOUT ME CONTAINER IMAGE */



img{
        float: left;
        margin: 8px 0 0 20px;
        padding: 4px;
        width: 250px;
        height: 350px;

    
}
.about-me-description p{
    /* text-align: justify; */
    font-size: px;
}


/* ABOUT ME CONTAINER */


.about-me-container, .work-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    line-height: 40px;
    justify-content:center;
    background-color: white;
    width: 700px;
    margin:-30px 370px 75px; 
    opacity: 80%;
}

.about-me-container, p, h2{
    font-family: 'Acme', sans-serif;

}

/* PAST WORK PROJECTS */

/* CONTACT/FOOTER */

/* MEDIA QUERY */